{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "src/**"
  ],
  "exclude": [
    "tests/**"
  ],
  "all": true,
  "sourceMap": false,
  "reporter": [
    "lcov",
    "text-summary"
  ]
}