* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
  font-size: 1rem;
  color: #333333;
}

/* Reset */
input,
select,
textarea {
  appearance: none;
  border: none;
  box-sizing: border-box;
  display: block;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1,
h2,
p {
  text-align: center;
}

section {
  margin: 6rem 0;
  padding: 16px;
}

form {
  margin: 16px auto;
  max-width: 700px;
}

button {
  position: relative;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  color: #333333;
  padding: 12px 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button::after:not([disabled]) {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover::after {
    opacity: 1;
}

button:hover:not([disabled]) {
  border: 1px solid #e4e4e4;
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

button:disabled {
  color: #C0C0C0;
  background-color: #eeeeee;
  cursor: not-allowed;
}

.label {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

.input {
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-color: white;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

.input:focus {
  border-color: #C0C0C0;
}

.input::placeholder {
  color: #dddddd;
}

.text {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1.5rem;
  line-height: 0;
}

.error {
  color: FireBrick;
  background-color: rgba(250, 0, 0, 0.07);
}

.success {
  color: green;
  background-color: rgba(0, 200, 0, 0.09);
}

#errorMessage,
#successMessage {
  display: none;
}
